{% extends 'base.html' %}

{% block content %}

GOAL DASHBOARD


<div id = "goals-list">

       <div>{{ current_user.username }}'s Goals:</div> 
       
       {% for goal in current_user.goals%}

       <div class="goal" id="{{goal.goal_id}}" >
            <input class="goal-completeness-check" id = "{{goal.goal_id}}" type="checkbox"></input> {{ goal.goal_title }}
            <div>{{ goal.notes }} </div>
        </div>

       {% endfor %}

       <button 
            id="update-goals"
            onclick="updateGoals(event,'{{current_user.user_id}}')"
            >
            Update Goals
       </button>
</div>


<script type="text/javascript">

    function updateGoals(evt, curUser) {
        // get all goal ids, make list of all ids that are checked 
        // make list of all ids that are not checked 

        // send list of checked and unchecked to backend for updating 
        const goalsStatus = {
            'userId': curUser,
            'goals' : {}
        }
         goalBoxes = document.getElementsByClassName('goal-completeness-check') 

        // look at all goals, if associated input box is clicked add completed
        // data to goalStatus
        for (i = 0; i < goalBoxes.length; i++) {

                // get the value of the goal's checkbox
                const goalBox = goalBoxes[i];
                const goalId = goalBox.id;
                const goalBoxStatus = goalBox.checked;
                
                goalsStatus.goals[goalId] = {}
                
                goalsStatus.goals[goalId]['complete'] = goalBoxStatus;
                
            };

        goalsStatus.goals = JSON.stringify(goalsStatus.goals)
        
        $.post('/save_goals', goalsStatus, confirmUpdateGoals);
    }
    
    // alert user that changes have been saved
    function confirmUpdateGoals(confMessage) {
        alert('Goals saved!');
    };

</script>

{% endblock %}