{% extends 'base.html' %}

{% block content %}

<div id="main-content" class="container">
    <div class="row">
        <div> Existing User </div>

        <div class="col-6">
            <div class="login" id="login-form">
                    <form method="POST" action="/login_submission">
                      <br> <input type="text" name="username" placeholder="username" required/><br>
                      <br><input type="password" name="password" placeholder="password" required/><br>
                      <input class="form-button" type="submit" value="Sign in"/>
                    </form>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div> New User </div>
        
        <div class="register" id="register-form">
                <form method="POST" action="/register" class="form-style-1">
                  <br><input type="text" name="username" placeholder="username"required/><br>
                  <br><input type="password" name="password"required placeholder="password"/><br>
                  <input class="form-button" type="submit" value="Sign up"/>
                </form>
        </div> 
    </div>
</div>
{% endblock %}